.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    padding-top: 20px !important;
    padding-bottom: 6px !important;
}

.mat-mdc-form-field-infix {
    min-height: 50px;
}